<!DOCTYPE html>

<html>
    {{> head}}
    <title>Maintenance Page</title>
    <body>
        
        {{> header}}  
        <h1>{{ maintenanceMsg }}</h1> 
        <p>{{ descriptionMsg }}</p>

        {{> footer}}

    </body>
</html>    